@import url("https://fonts.googleapis.com/css2?family=Combo&family=Josefin+Sans:wght@100;300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

.secc2__parrafo, .secc3 h3, .contact, .footer {
  text-align: center;
  font-family: "Josefin Sans", sans-serif; }

.vinoteca {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px auto auto auto 80px;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  grid-template-areas: "header" "secc1" "secc2" "secc3" "footer"; }

.header {
  grid-area: header;
  background-color: #0b2027;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }
  .header__nav {
    display: flex;
    justify-content: space-evenly; }
  .header__logo {
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #cfd7c7;
    margin: 3px; }
    .header__logo img {
      width: 50px;
      color: #cfd7c7; }
  .header__ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none; }
    .header__ul--li {
      margin: 0 15px; }
      .header__ul--li a {
        text-decoration: none;
        color: #cfd7c7;
        font-family: "Combo", cursive;
        text-transform: uppercase;
        transition: all .3s ease-in-out; }
        .header__ul--li a:hover {
          color: #40798c; }

.secc1 {
  grid-area: secc1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media screen and (min-width: 768px) {
    .secc1 {
      flex-direction: row;
      justify-content: space-around; } }
  .secc1 h1 {
    color: #0b2027;
    font-family: "Combo", cursive;
    font-weight: 900;
    font-size: 40px;
    text-align: center; }
  .secc1 img {
    width: 170px; }

.secc2 {
  grid-area: secc2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .secc2__parrafo {
    width: 70%; }
    .secc2__parrafo h2 {
      font-family: "Combo", cursive;
      text-transform: capitalize;
      color: #0b2027;
      font-size: 25px; }
    .secc2__parrafo p {
      font-family: "Josefin Sans", sans-serif;
      color: #40798c;
      font-size: 17px; }
  .secc2__img {
    width: 100%;
    height: auto;
    text-align: center; }
    .secc2__img img {
      width: 180px;
      border-radius: 50%;
      padding: 5px; }

.secc3 {
  grid-area: secc3;
  background-color: #0b2027; }
  .secc3 h3 {
    font-family: "Combo", cursive;
    text-transform: capitalize;
    color: #cfd7c7;
    font-size: 27px; }
  .secc3__productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
    flex-grow: 1;
    gap: 5px; }
    .secc3__productos img {
      flex-grow: 1fr;
      width: 250px; }

.contact {
  background-image: linear-gradient(to bottom, rgba(11, 33, 40, 0.466), rgba(64, 121, 140, 0.548), rgba(207, 215, 198, 0.5)), url(../../../img/fondoContacto.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #0b2027;
  font-size: 15px;
  justify-content: center;
  align-items: center; }
  .contact h1 {
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 20px;
    font-family: "Combo", cursive; }
  @media screen and (min-width: 540px) {
    .contact {
      flex-direction: row; } }
  .contact__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%; }
    .contact__form .contact__campo {
      width: 100%;
      max-width: 400px;
      margin: 5px 0;
      text-align: center;
      border-radius: 6px;
      padding: 7px; }
    .contact__form textarea {
      resize: none; }

.footer {
  grid-area: footer;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #40798c; }
  .footer small {
    font-size: 10px; }
  .footer h5 {
    padding: 10px; }
